.messenger {
    height: calc(100vh-70px);
    display: flex;
}

.chatMenu {
    flex: 4;
}

.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chatBox {
    flex: 8;
}

.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatInput{
    width: 80%;
    height: 90px;
    padding: 10px;
}
.chatSubmitBtn{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: yellowgreen;
    color: white;
}

.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper{
    padding: 10px;
    height: 100%;
}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.conversation{
    display:flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px ;
}

.conversation:hover{
    background-color: rgb(220, 218, 218);
}
.conversation-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.conversation.name{
    font-weight: 500;
}


.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.message-top{
    display: flex;
}

.message-bottom{
    font-size: 12px;
    margin-top: 10px;
}

.msg-text{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(240, 240, 95);
    max-width: 300px;
}

.message.own{
    align-items: flex-end;
}

.message.own .msg-text{
    background-color: rgb(239, 232, 232);
    color: black;
}

.noConversation{
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(236, 234, 234);
    cursor: default;
}