.brand-name{
color:#98dc2c;
}

.navbar-custom-link {
    font-size: large;
    font-weight:bolder;
    word-spacing: 0.5em;
    margin-left: 30px;
}

.navbar-custom-link:hover{
    color: #98dc2c!important;
}

.logout-btn{
    margin-left: 5px;
    height: 40px;
    background-color: #E1FFB1 !important;
    color: #413F42 !important;
}

svg {
    color: #98dc2c !important;
    border-color: #98dc2c !important;
}

/* FOOTER */
.footer-custom{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer-text{
    font-size: small;
}