.jumbotron{
  background-color: #E1FFB1;
  padding: 15px 0;
}

.update-btn{
  float: right;
  color: #98dc2c!important;
  background-color: #413F42 !important;
}

.link-row {
  margin-top: 30px;
}

.profile-custom-link{
  margin-left: 20px;
  font-weight: bold;
  font-size: large;
  color: #FFBF00;
  border: 1px solid;
  border-radius: 5px;
  word-spacing: 0.25em;
}

.profile-custom-link:hover{
  color: #413F42;
}

.book {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 20px 0 10px;
    position: relative;
    width: 50%;
  }

  .books-btn {
    border: none;
    border-radius: 1px;
    width: 40px;
    height: 40px;
    background-color: #413F42;
    margin-right: 5px;
  }

